<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net452" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net452" />
  <package id="MarkdownSharp-GithubCodeBlocks" version="0.1.1" targetFramework="net452" />
</packages>